
 <h1><b> Администрирование </b>  </h1>

 <h2 align="center">Добавление Программ:</h2>

 <%= netzke :kategories,
   :class_name => "Netzke::Basepack::GridPanel",
   :model => "Kategory",
   :columns => [:id,
                :name_k,





   ],
   # Standard Ext.grid.EditorGridPanel configuration options:
   :border => true,
   :header => false,
   :view_config => {
     :force_fit => true # force the columns to occupy all the available width
   }
 %>
 <br>

<h2 align="center">Добавление Курсов</h2>

<%= netzke :courses,
  :class_name => "Netzke::Basepack::GridPanel",
  :model => "Course",
  :columns => [:id, :name_c,


              :kategory__name_k
  ],
  # Standard Ext.grid.EditorGridPanel configuration options:
  :border => true,
  :header => false,
  :view_config => {
    :force_fit => true # force the columns to occupy all the available width
  }
%>


 <br>

 <h2 align="center">Добавление Модуей</h2>

 <%= netzke :mods,
   :class_name => "Netzke::Basepack::GridPanel",
   :model => "Mod",
   :columns => [:id, :name_m,

           :course__name_c,
           :kategory__name_k

   ],
   # Standard Ext.grid.EditorGridPanel configuration options:
   :border => true,
   :header => false,
   :view_config => {
     :force_fit => true # force the columns to occupy all the available width
   }
 %>


 <br>


